In [102]:
import numpy as np
import pandas as pd
from datetime import date, datetime, timedelta
import time 
from tqdm import tqdm

In [99]:
'''
this function gets "event time" column and seperate time and date 
by having date gives week day and month 
  '''
def d_t (event_time):
    date = event_time.split(' ')[0]
    time = event_time.split(' ')[1]
    week_day = datetime.strptime(date,'%Y-%m-%d').weekday()
    time = datetime.strptime(time, "%H:%M:%S").hour
    # month=datetime.strptime(date,'%Y-%m-%d').month  #if in dataframe there was month
    
    return date, time, week_day

In [101]:
def WeekTimeScoring(Data_Frame):
  
  Data_Frame[['date', 'time','week_day']] = Data_Frame.event_time.apply(d_t).tolist() # adds time and date column to the data frame by adding latter functions
  Data_Frame['time_score']=1 #add an additional column to count number of events in groupby

  df_user_time_wkday = Data_Frame.groupby(["user_id",'time','week_day']).sum("time_score").sort_values('time_score',ascending=False) #group by time 


  return df_user_time_wkday['time_score']    #will drop unnecessary columns

In [94]:

ddf= pd.read_csv('2019-Nov.csv', chunksize=1000000)
time.time()
list_of_Time_df=[]

main=pd.DataFrame()
for d in tqdm(ddf):
    df = pd.DataFrame (d)
    main=main.append(WeekTimeScoring(df))#.reset_index()
    main.groupby(["user_id",'time','week_day']).sum("time_score").sort_values('time_score',ascending=False)

68it [37:06, 32.74s/it]

In [98]:
main.head()

                         time_score
user_id   time week_day
537972582 6    4              158.0
513002539 3    4              143.0
537972582 5    4              141.0
          4    4              139.0
513998518 12   4              129.0

In [97]:
Save=main.to_csv('users time score')